
.wrapper{ 
    width: 1280px;     
    margin: 0 auto;  
    
} 
 
 
.logolink{ 
display:flex; 
padding-top: 63px; 
 
margin-bottom: 40px; 
height: 79px; 
flex-direction: column; 
} 
 
a.link{ 
    text-decoration: none; 
    font-size: 80px; 
    color: black;   
} 
.menu{
    margin-top: 40px;
}
 .dma{ 
    font-size: 80px; 
    color: #4BCAFF; 
} 
.litext{
    text-decoration: none;
}
 
.list{ 
    flex-direction: row; 
    background-color: #35444F; 
    height: 68px; 
    align-items: center; 
    display: flex; 
    box-sizing: border-box; 
  justify-content: center; 
  
} 
.li{ 
    
    border: 0.5px solid rgb(253, 251, 251); 
    padding: 22px 32px; 
     
    
     
} 
.li:hover{ 
    background-color: #222F3A; 
} 
.litext{ 
    font-size: 24px; 
    color: #FFFFFF; 
 
} 
 
.mainbox{ 
    
    display: flex; 
    
    
} 
.aside{ 
    box-sizing: border-box; 
    padding-top: 49px; 
   
 
} 
.aside_ul{ 
    width: 344px; 
    height: 399px; 
    border: 1px solid #000000; 
    color: #485863;
    
     
} 
.content_wrapper{ 
    display: flex; 
    flex-direction: column; 
    margin-left: 52px; 
    margin-top: 48px; 
    margin-bottom: 54px; 
} 
.contentbox{ 
    display:flex; 
    width:  100%;    
    height: 885px;  
    border: 1px solid #485863; 
    
    justify-content: center; 
 
} 
.paragraph{ 
    margin-top: 37px; 
    font-size: 18px; 
    color: #2C2C2C; 
    font-family: Roboto;
} 
.list_item{ 
    display: flex;
    font-size: 27px; 
    font-weight: 400px; 
    width: 100%; 
    height: 20%; 

    
     
} 
 img:hover{
    width: 60%;
    height: 60%;
    transition: 100ms;
 }
.list_item:hover{ 
    background-color: #DBDBDB; 
     
} 
.list_item:hover .list_item_text{
    margin-left: 88px;
}
.list_item_text{ 
    
    margin:auto auto auto 44px;  
} 
img{ 
    width: 320px; 
    height: 381px; 
    margin: auto; 
} 
 
 
.main{ 
    display: flex; 
    box-sizing: border-box; 
    flex-direction: column; 
    width: 885px; 
    text-align: center; 
    margin: auto; 
    align-items:end 
} 
.footer{ 
    display: flex; 
    align-items: center; 
    background-color: #63696E7A;  
    height: 68px; 
    box-sizing: border-box; 
    justify-content: space-between; 
    font-size: 28px;   
} 
 
.list_footer{ 
    margin-left: 40px; 
    font-family: Roboto;
     
} 
       
.footer_list_item:hover{ 
    color: #3181A6; 
} 
.footerlist{ 
    display: flex; 
    justify-content: space-between; 
    width: 875px;  
} 
 
.footer_list_item{ 
    text-decoration: none; 
    justify-content: space-between; 
} 
  
 
.copiright{ 
    margin-right: 40px; 
}